@page "/"

<PageTitle>Index</PageTitle>

<h1>Booking Details</h1>

<div class="summary">
    <Summary />
</div>

<div class="collapsibles">
    <Collapsible Title="Primary Passenger Information" BodyStyles="padding: 0 144px 0 144px;">
        <IconSVG>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.666748C4.48 0.666748 0 5.14675 0 10.6667C0 16.1867 4.48 20.6667 10 
                    20.6667C15.52 20.6667 20 16.1867 20 10.6667C20 5.14675 15.52 0.666748 10 0.666748ZM16.36 15.4967C14.93 13.7567 
                    11.46 13.1667 10 13.1667C8.54 13.1667 5.07 13.7567 3.64 15.4967C2.62 14.1567 2 12.4867 2 10.6667C2 6.25675 5.59 
                    2.66675 10 2.66675C14.41 2.66675 18 6.25675 18 10.6667C18 12.4867 17.38 14.1567 16.36 15.4967ZM6.5 8.16675C6.5 
                    6.22675 8.06 4.66675 10 4.66675C11.94 4.66675 13.5 6.22675 13.5 8.16675C13.5 10.1067 11.94 11.6667 10 11.6667C8.06 
                    11.6667 6.5 10.1067 6.5 8.16675Z" fill="#0A0A0B"/>
            </svg>
        </IconSvg>
        <Body>
            <div class="tab-body">
                <div class="row">
                    <SfDropDownList TValue="string" TItem="Games" Placeholder="Select Existing" DataSource="@LocalData" FloatLabelType="FloatLabelType.Auto">
                        <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                    </SfDropDownList>
                    <SfTextBox Placeholder='Alias' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                </div>
                <div class="row">
                    <SfTextBox Placeholder='First Name' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                    <SfTextBox Placeholder='Last Name' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                </div>
                <div class="row">
                    <SfMaskedTextBox Mask="+ 1 (000) 000 - 00 - 00" Placeholder="Phone Number" FloatLabelType="FloatLabelType.Auto"></SfMaskedTextBox>
                    <SfTextBox Placeholder='Email Name' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                </div>
                <div class="row checkbox-row">
                    <SfCheckBox Label="Include flight information" @bind-Checked="isChecked"></SfCheckBox>
                </div>
                <div class="row">
                    <SfDropDownList TValue="string" TItem="Games" Placeholder="Airport" DataSource="@LocalData" FloatLabelType="FloatLabelType.Auto">
                        <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                    </SfDropDownList>
                    <SfDropDownList TValue="string" TItem="Games" Placeholder="Airlines" DataSource="@LocalData" FloatLabelType="FloatLabelType.Auto">
                        <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                    </SfDropDownList>
                    <SfMaskedTextBox Mask="0000" Placeholder="Flight Number" FloatLabelType="FloatLabelType.Auto"></SfMaskedTextBox>
                </div>
            </div>
            
            
        </Body>
    </Collapsible>
    <Collapsible Title="Additional Passengers">
        <IconSVG>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.666748C4.48 0.666748 0 5.14675 0 10.6667C0 16.1867 4.48 20.6667 10 
                    20.6667C15.52 20.6667 20 16.1867 20 10.6667C20 5.14675 15.52 0.666748 10 0.666748ZM16.36 15.4967C14.93 13.7567 
                    11.46 13.1667 10 13.1667C8.54 13.1667 5.07 13.7567 3.64 15.4967C2.62 14.1567 2 12.4867 2 10.6667C2 6.25675 5.59 
                    2.66675 10 2.66675C14.41 2.66675 18 6.25675 18 10.6667C18 12.4867 17.38 14.1567 16.36 15.4967ZM6.5 8.16675C6.5 
                    6.22675 8.06 4.66675 10 4.66675C11.94 4.66675 13.5 6.22675 13.5 8.16675C13.5 10.1067 11.94 11.6667 10 11.6667C8.06 
                    11.6667 6.5 10.1067 6.5 8.16675Z" fill="#0A0A0B"/>
            </svg>
        </IconSvg>
        <Body>
            <div class="removable-cards">
                @for(int i = 1; i <= NumberOfPassengers; i++)
                {
                    <RemovableCard Title="@("Passenger # " + i)">
                        <Body>
                            <div class="tab-body">
                                <div class="row">
                                    <SfTextBox Placeholder='First Name' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                                    <SfTextBox Placeholder='Last Name' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                                </div>
                                <div class="row">
                                    <SfMaskedTextBox Mask="+ 1 (000) 000 - 00 - 00" Placeholder="Phone Number" FloatLabelType="FloatLabelType.Auto"></SfMaskedTextBox>
                                    <SfTextBox Placeholder='Email Name' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                                </div>
                                <div class="row">
                                    <SfTextBox Placeholder='Notes' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                                </div>
                                <div class="row checkbox-row">
                                    <SfCheckBox Label="Include flight information" @bind-Checked="isChecked"></SfCheckBox>
                                </div>
                                <div class="row">
                                    <SfDropDownList TValue="string" TItem="Games" Placeholder="Airport" DataSource="@LocalData" FloatLabelType="FloatLabelType.Auto">
                                        <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                    <SfDropDownList TValue="string" TItem="Games" Placeholder="Airlines" DataSource="@LocalData" FloatLabelType="FloatLabelType.Auto">
                                        <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                    <SfMaskedTextBox Mask="0000" Placeholder="Flight Number" FloatLabelType="FloatLabelType.Auto"></SfMaskedTextBox>
                                </div>
                            </div>
                        </Body>
                    </RemovableCard>
                }
                <div class="add-passenger">
                    <SfButton CssClass="e-primary ba-btn">
                        <span class="ba-i e-btn-icon e-icon-left">
                            <svg width="12" height="11" viewBox="0 0 12 11" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.25 6.41699H6.75V10.917H5.25V6.41699H0.75V4.91699H5.25V0.416992H6.75V4.91699H11.25V6.41699Z"/>
                            </svg>
                        </span>
                        Add Passenger
                    </SfButton>
                </div>
            </div>
        </Body>
    </Collapsible>
    <Collapsible Title="Additional Items" BodyStyles="padding: 12px 144px 0 144px;">
        <IconSVG>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15.437L16.18 19.167L14.54 12.137L20 7.40699L12.81 6.79699L10 0.166992L7.19 6.79699L0 
                    7.40699L5.46 12.137L3.82 19.167L10 15.437Z" fill="#0A0A0B"/>
            </svg>
        </IconSvg>
        <Body>
            <div class="tab-body">
                <div class="additional-items-checklist">
                    <div class="additional-items-row">
                        <div>
                            <SfCheckBox Label="Child Car Seat (+ $25 each)" @bind-Checked="isChecked"></SfCheckBox>
                        </div>
                        <div>
                            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                                <span class="e-icons e-plus-icon">
                                    <svg width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 0.000488281H8.5V1.33382H0.5V0.000488281Z" fill="#0A0A0B"/>
                                    </svg>
                                </span>
                            </SfButton>
                            2
                            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                                <span class="e-icons e-plus-icon">
                                    <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.1663 5.33382H6.16634V9.33382H4.83301V5.33382H0.833008V4.00049H4.83301V0.000488281H6.16634V4.00049H10.1663V5.33382Z" 
                                            fill="#0A0A0B"/>
                                    </svg>
                                </span>
                            </SfButton>
                        </div>
                        <div class="spacer"></div>
                        <div>
                            <SfCheckBox Label="Bottle of Champagne (+ $110 each)" @bind-Checked="isChecked"></SfCheckBox>
                        </div>
                        <div>
                            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                                <span class="e-icons e-plus-icon">
                                    <svg width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 0.000488281H8.5V1.33382H0.5V0.000488281Z" fill="#0A0A0B"/>
                                    </svg>
                                </span>
                            </SfButton>
                            2
                            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                                <span class="e-icons e-plus-icon">
                                    <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.1663 5.33382H6.16634V9.33382H4.83301V5.33382H0.833008V4.00049H4.83301V0.000488281H6.16634V4.00049H10.1663V5.33382Z" 
                                            fill="#0A0A0B"/>
                                    </svg>
                                </span>
                            </SfButton>
                        </div>
                    </div>
                    <div class="additional-items-row">
                        <div>
                            <SfCheckBox Label="Another Option (+ $XX each)" @bind-Checked="isChecked"></SfCheckBox>
                        </div>
                        <div>
                            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                                <span class="e-icons e-plus-icon">
                                    <svg width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 0.000488281H8.5V1.33382H0.5V0.000488281Z" fill="#0A0A0B"/>
                                    </svg>
                                </span>
                            </SfButton>
                            2
                            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                                <span class="e-icons e-plus-icon">
                                    <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.1663 5.33382H6.16634V9.33382H4.83301V5.33382H0.833008V4.00049H4.83301V0.000488281H6.16634V4.00049H10.1663V5.33382Z" 
                                            fill="#0A0A0B"/>
                                    </svg>
                                </span>
                            </SfButton>
                        </div>
                        <div class="spacer"></div>
                        <div>
                            <SfCheckBox Label="Bottle of Water (+ $5 each)" @bind-Checked="isChecked"></SfCheckBox>
                        </div>
                        <div>
                            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                                <span class="e-icons e-plus-icon">
                                    <svg width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 0.000488281H8.5V1.33382H0.5V0.000488281Z" fill="#0A0A0B"/>
                                    </svg>
                                </span>
                            </SfButton>
                            2
                            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                                <span class="e-icons e-plus-icon">
                                    <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.1663 5.33382H6.16634V9.33382H4.83301V5.33382H0.833008V4.00049H4.83301V0.000488281H6.16634V4.00049H10.1663V5.33382Z" 
                                            fill="#0A0A0B"/>
                                    </svg>
                                </span>
                            </SfButton>
                        </div>
                    </div>
                </div>

                <div class="additional-items-separator"></div>

                <div class="additional-items-total">
                    <p>Total :</p>
                    <div class="total">
                        <p>Child Car Seat (x2)</p>
                        <p>Bottle of Champagne (x1)</p>
                        <p>Another Option (x3)</p> 
                    </div>
                    <p>+ $145</p>
                </div>
            </div>
        </Body>
    </Collapsible>
</div>



@code{
    private bool isChecked = true;
    public class Games
    {  
        public string ID { get; set; }
        public string Text { get; set; }
    }
    List<Games> LocalData = new List<Games> {
        new Games() { ID= "Game1", Text= "American Football" },
        new Games() { ID= "Game2", Text= "Badminton" },
        new Games() { ID= "Game3", Text= "Basketball" },
        new Games() { ID= "Game4", Text= "Cricket" },
        new Games() { ID= "Game5", Text= "Football" },
        new Games() { ID= "Game6", Text= "Golf" },
        new Games() { ID= "Game7", Text= "Hockey" },
        new Games() { ID= "Game8", Text= "Rugby"},
        new Games() { ID= "Game9", Text= "Snooker" },
        new Games() { ID= "Game10", Text= "Tennis"},
    };
    private int NumberOfPassengers = 2;
}